<input type="hidden" name="project_meta_nonce" value="{{ project_meta_nonce }}" />

<table class="form-table">
    <tr>
        <th style=''><label for='Project Status'>Project Status *</label></th>
        <td>
            <select class='widefat' name="sel_project_status" id="sel_project_status">
                <option {% if project_status == 0 %}selected{% endif %} value="0">Select</option>
                <option {% if project_status == 'planned' %}selected{% endif %} value="planned">Planned</option>
                <option {% if project_status == 'pending' %}selected{% endif %} value="pending">Pending</option>
                <option {% if project_status == 'failed' %}selected{% endif %} value="failed">Failed</option>
                <option {% if project_status == 'completed' %}selected{% endif %} value="completed">Completed</option>
            </select>
        </td>
    </tr>
    <tr>
        <th style=''><label for='Project Duration'>Project Duration *</label></th>
        <td><input class='widefat' name='txt_duration' id='txt_duration' type='text' value='{{ project_duration }}' /></td>
    </tr>
    <tr>
        <th style=''><label for='Project URL'>Project URL</label></th>
        <td>
            
            <input class='widefat' name='txt_url' id='txt_url' type='text' value='{{ project_url }}'  /></td>
    </tr>    
    <tr>
        <th style=''><label for='Download URL'>Download URL</label></th>
        <td><input class='widefat' name='txt_download_url' id='txt_download_url' type='text'  value='{{ project_download_url }}' /></td>
    </tr>
    <tr>
        <th style=''><label for='Project Screens'>Project Screens</label></th>
        <td><input class='widefat wpwa_multi_file' type="file" id="project_screens"  />
            <div class='wpwa_preview_box' id='project_screens_panel' >
                {% for item in project_screens %}
                <img class='wpwa_img_prev' style='with:75px;height:75px' src='{{item}}' />
                <input class='wpwa_img_prev_hidden' type='hidden' name='h_project_screens[]' value='{{item}}' />
                {% endfor %}
            </div>
        </td>
    </tr>
    
</table>
