<input type="hidden" name="book_meta_nonce" value="{{ book_meta_nonce }}" />

<table class="form-table">
    <tr>
        <th style=''><label for='Book Pages'>Book Pages *</label></th>
        <td><input class='widefat' name='txt_book_pages' id='txt_book_pages' type='text' value='{{ book_pages }}' /></td>
    </tr>
    <tr>
        <th style=''><label for='Book URL'>Book URL</label></th>
        <td>
            
            <input class='widefat' name='txt_book_url' id='txt_book_url' type='text' value='{{ book_url }}'  /></td>
    </tr>    
    <tr>
        <th style=''><label for='Book Publisher'>Book Publisher</label></th>
        <td><input class='widefat' name='txt_book_publisher' id='txt_book_publisher' type='text'  value='{{ book_publisher }}' /></td>
    </tr>
    
</table>
